<h2>Liste des Pokemons</h2>

<div class="list">
  <div
    class="pokemons"
    *ngFor="let pokemon of pokemons"
    [class.selected]="pokemon === selectedPokemon"
    (click)="onSelect(pokemon)">
    <a routerLink="/detail/{{ pokemon.id }}">
      <h2>{{ pokemon.numb }}</h2>
      <h2>{{ pokemon.name | titlecase }}</h2>
    </a>
    <button class="delete" title="delete pokemon"
    (click)="delete(pokemon)">Supprimer</button>
  </div>
</div>

<div>
  <label>Nom du pokemon:
    <input #pokemonName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(pokemonName.value); pokemonName.value=''">
    Ajouter
  </button>
</div>
